:root {
    --bg-color: #e3464f;
    --bg-color-medio: #c9414e;
    --bg-color-dark: #540f23;
    --bg-color-second: #393a72;
    --bg-color-second-medio: #5355a7;
    --bg-color-second-dark: #7476ba;
}